<mat-card>Buscar Juego</mat-card><br>
<ng-container *ngFor="let juego of juegos">
<mat-card *ngIf="juego.publicado">
  <mat-card-header>
    <div mat-card-avatar><img src="https://scontent-mad1-1.xx.fbcdn.net/v/t31.0-1/p200x200/1622567_1506452986292494_4338430501214219772_o.png?_nc_cat=107&_nc_sid=dbb9e7&_nc_ohc=a_cv9BdjsC0AX-37hPB&_nc_ht=scontent-mad1-1.xx&oh=38d7a5e53245a5c9191900a287991c75&oe=5EDE4DBE"></div>
    <mat-card-title>{{juego.nombre}}</mat-card-title>
    <mat-card-subtitle>{{juego.autor}}</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
  <mat-card-content>
    <p>
      {{juego.descripcion_corta}}
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>LIKE</button>
    <button mat-button>VER</button>
  </mat-card-actions>
</mat-card>
</ng-container>