<mat-card class="full">
  <mat-card-header>
<mat-card-title>Nuevo Juego</mat-card-title>
  </mat-card-header>
<form class="example-form">
  <mat-form-field class="example-full-width">
    <mat-label>Nombre</mat-label>
    <input matInput>
  </mat-form-field>

   <mat-form-field class="example-full-width">
    <mat-label>Autor</mat-label>
    <input matInput>
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>Descripción corta</mat-label>
    <textarea matInput></textarea>
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>Descripción</mat-label>
    <textarea matInput></textarea>
  </mat-form-field>

    <button mat-raised-button color="primary">Crear Juego</button>
</form>
</mat-card>