
<mat-sidenav-container class="example-container">
<mat-sidenav #sidenav [mode]="mode" [(opened)]="opened" >
  <div class="cabecera_menu">
    <span>Packtil</span>
  </div>
    <mat-list>
 <mat-list-item matRipple [routerLink]="['/buscar']" (click)="cerrar()"><mat-icon class="icon-menu">search</mat-icon> Buscar Juego</mat-list-item>
 <mat-list-item matRipple [routerLink]="['/perfil']" (click)="cerrar()"><mat-icon class="icon-menu">person</mat-icon> Perfil</mat-list-item>
 <mat-list-item matRipple [routerLink]="['/favoritos']" (click)="cerrar()"><mat-icon class="icon-menu">favorite</mat-icon> Favoritos</mat-list-item>
 <mat-list-item matRipple [routerLink]="['/new_juego']" (click)="cerrar()"><mat-icon class="icon-menu">add</mat-icon> Crear Juego</mat-list-item>
 <mat-list-item matRipple *ngIf="!dark" (click)="cambioTema()"><mat-icon class="icon-menu">nights_stay</mat-icon> Oscuro</mat-list-item>
 <mat-list-item matRipple *ngIf="dark" (click)="cambioTema()"><mat-icon class="icon-menu">wb_sunny</mat-icon> Claro</mat-list-item>
</mat-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar> <ng-container *ngIf="!(innerWidth >= 768)"> <mat-icon (click)="sidenav.toggle()" class="icon-menu">menu</mat-icon>Packtil</ng-container></mat-toolbar>
    <div class="container">
      <router-outlet></router-outlet>
    </div>
    <button mat-fab color="accent" class="destacado" [routerLink]="['/panico']">
          <mat-icon>warning</mat-icon>
        </button>
    <mat-toolbar id="bottom">
      <mat-icon matRipple routerLinkActive="active" [routerLink]="['/buscar']" >search</mat-icon>
      <mat-icon matRipple routerLinkActive="active" [routerLink]="['/perfil']" >person</mat-icon>
      <mat-icon matRipple routerLinkActive="active" [routerLink]="['/favoritos']" >favorite</mat-icon>
      <mat-icon matRipple routerLinkActive="active" [routerLink]="['/new_juego']" >add</mat-icon>
    </mat-toolbar>
  </mat-sidenav-content>
</mat-sidenav-container>


