@import '../packtil';
p {
  font-family: Lato;
}
.icon-menu {
  margin-right: 8px;
}
.example-small-box, .example-large-box {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 16px;
  padding: 16px;
  border-radius: 8px;
}
.destacado{
  position: fixed;
  bottom: 70px;
  right: 15px;
}
mat-toolbar {
    position: fixed;
    z-index: 9;
}
.container {
    padding: 15px;
    padding-top: 65px;
}
.cabecera_menu {
   width: 300px;
    padding: 25px;
    border-bottom: solid 2px;
    font-size: 15pt;
}
/*bar bottom*/

#bottom{
  position:fixed;
  bottom: 0px;
  display: none;
}
mat-toolbar#bottom mat-icon {
    width: 25%;
    text-align: center;
    border-top: solid;
    height: 100%;
    line-height: 58px;
    color: ($candy-app-primary);
}
mat-toolbar#bottom mat-icon:not(.active) {
    border-color: transparent;
}
@media screen and (max-width: 768px){
#bottom{
  display: block;
}
}
@media screen and (max-width: 425px){
.cabecera_menu {
      width: 200px;
    height: 130px;
}
}